.news-card {
  width: 45vw;
  margin: 20px;
}

.source-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.news-image {
  max-height: 180px;
  max-width: 250px;
  object-fit: cover;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.card-pad {
  padding-right: 30px;
  padding-left: 10px;
  padding-bottom: 0px;
}

.white-text {
  color: whitesmoke;
}

.source-badge {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 10px;
  background-color: #E5E5E5;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.mask {
  color: darkblue!important;
}

.reveal {
  color: white;
}

.source-badge:hover {
  color: white!important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16);
  cursor: pointer;
  
}

.source-date {
  margin: 0;
}

.sub-info {
  margin-top: 12px;
  margin-bottom: 12px;
}

.source-description {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  line-height: 1.4em;
  max-height: 2.8em;
}