<div class="card news-card">

  <!-- Card image -->
  <img class="card-img-top news-image"
    src="{{article.image}}" alt="Card
    image cap">

  <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title"><a>{{article.title}}</a></h4>
    <!-- Text -->
    <div fxLayout="row" fxLayoutAlign="start center" >
      <!--Source-->
      <span class="badge badge-pill badge-primary sub-info">{{article.source}}</span>
      <!-- Date -->
      <p class="card-text sub-info"><small class="text-muted">Published:
        {{getTimeString()}}</small></p>
    </div>
    <p class="card-text">{{article.description}}</p>

    <!--<a href="#" class="card-link">Mask</a>-->

  </div>

</div>
