
<div class="card news-card">

  <div fxLayout="row">
    <!-- Card image -->
    <img fxFlex class="news-image"
      src="{{article.image}}" alt="Card
      image cap">

    <!-- Card content -->
    <div fxFlex="65" style="margin-left: 10px" class="card-body card-pad">
      <!-- Title -->
      <a data-toggle="tooltip" title="{{article.title}}" placement='left'>
        <h5 class="source-title"><a>{{article.title}}</a></h5>
      </a>

      <!-- Text -->
      <div fxLayout="row" fxLayoutAlign="start center" class="sub-info">
        <!--Source-->
        <span id="sourceBadge" *ngIf="!maskAll && !maskThis || maskAll &&
          !maskThis" class="source-badge badge reveal badge-light
          {{article.bias}}">{{article.source}}</span>
        <span *ngIf="maskAll && maskThis || !maskAll && maskThis"
          class="source-badge badge badge-light mask">Hidden Source</span>

        <!-- Date -->
        <p class="source-date">
          <small>Published:
            {{getTimeString()}}
          </small>
        </p>

      </div>
      <p class="card-text source-description">{{article.description}}</p>
      <!-- <span *ngIf="maskAll && maskThis" class="source-badge badge badge-dark
        white-text" (click)="removeMask()">Reveal Source</span>
      <span *ngIf="!maskAll || !maskThis" class="source-badge badge badge-dark
        white-text" (click)="addMask()">Mask Source</span> -->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-button class="mask-button remove-outline"
          (click)="toggleMask()">{{maskButton}}</button>
        <div>
          <label></label>
          <button mat-button class="remove-outline"
            (click)="goToArticle()">
            Read
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
