#searchBar {
    height: 42px;
    background: #f3f3f3;
    border-radius: 21px;
}

#searchBar:hover {
    background: #e5e5e5;
}


.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
.bg {
    background-image: url("stock2.jpg");
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

/* input {
    margin-left: 15px;
    margin-right: 15px;
    outline: none;
    border-color: transparent;
    background: transparent;
    border: 0;
    border-bottom-color: transparent;
    box-shadow: transparent;
} */

/* button {
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    margin: 0;
    height: 42px;
} */

/* form {
    padding: 0;
    border: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 42px;
} */

.s006 {
    margin: 0;
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    font-family:  sans-serif;
    background-image: url("stock2.jpg");
    background-size: cover;
    background-position: center center;
    padding: 0px;
  }
  
  .s006 form {
    width: 100%;
    max-width: 790px;
  }

  .s006 form legend {
    font-size: 36px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    margin-bottom: 59px;
  }
  
  .s006 form .inner-form {
    width: 100%;
    margin-bottom: 17px;
  }
  
  .s006 form .inner-form .input-field {
    height: 70px;
    width: 100%;
    position: relative;
  }
  
  .s006 form .inner-form .input-field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: 0;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;
    font-size: 18px;
    color: #666;
    border-radius: 34px;
  }
  
  .s006 form .inner-form .input-field input.placeholder {
    color: #ccc;
    font-size: 18px;
  }
  
  .s006 form .inner-form .input-field input:-moz-placeholder {
    color: #ccc;
    font-size: 18px;
  }
  
  .s006 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #ccc;
    font-size: 18px;
  }
  
  .s006 form .inner-form .input-field input:hover, .s006 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
  }

  .s006 form .inner-form .input-field .btn-search {
    width: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    left: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    align-items: center;
  }
  .clickable{ cursor: pointer; }

  